@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default btn */
.btn {
  @apply font-bold py-2 px-4 rounded;
  margin-top: 20px
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

section{
  width: 500px;
  margin-bottom: 10px;
}


.item-box{
  width: 500px;
  background: rgb(212, 212, 212);
  margin-bottom: 10px;
}

.answer{
  background: rgb(101, 196, 122);
}

.colourChange{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.colorBtn{
  margin-left: 10px;
}

.Rating-div{
display: flex;
}

.activeRating{
  color: yellow;
}

.corousal{
  display: flex;
  justify-content: center;
  
  
}

.totalImgOverview{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:3px;
}

.activeImage{
  color: greenyellow;
}

.products-box{
  display: grid;
  gap: 140px;
  grid-template-columns: repeat(3, 40px);
}

.product-card{
border:  1px solid red;
padding: 5px 5px 5px 5px;
width: 150px;
}